	<body>
		<h2>Formulario básico con Angularjs</h2>
		
		<div ><span>Rellena tus datos por orden de aparición.</span></div><br>
		
		
		<form name="myForm">
			<div class="form-group" ng-class="{ 'has-error' : myForm.nombre.$error.required && !myForm.nombre.$pristine}">
				<label for="nombre">Nombre: </label><input name="nombre" placeholder="Nombre" class="form-control input-md" ng-model="nombre" required>
				<span ng-show="myForm.nombre.$error.required  && !myForm.nombre.$pristine">Campo obligatorio</span>

			</div><br />
			<div class="form-group" ng-class="{ 'has-error' : myForm.apellido1.$error.required && !myForm.apellido1.$pristine }" ng-if="myForm.nombre.$valid">
				<label for="apellido1">Apellido 1: </label><input name="apellido1" placeholder="Primer apellido"  class="form-control input-md" ng-model="apellido1"required>
				<span ng-show="myForm.apellido1.$error.required  && !myForm.apellido1.$pristine">Campo obligatorio</span>

			</div><br />
			<div class="form-group" ng-class="{ 'has-error' : myForm.apellido2.$error.required && !myForm.apellido2.$pristine }" ng-if="myForm.apellido1.$valid">
				<label for="apellido2">Apellido 2: </label><input name="apellido2" placeholder="Segundo apellido" class="form-control input-md" ng-model="apellido2"required>
				<span ng-show="myForm.apellido2.$error.required  && !myForm.apellido2.$pristine">Campo obligatorio</span>

			</div><br />
			<div class="form-group" ng-class="{ 'has-error' : myForm.email.$error.email && !myForm.email.$pristine }" ng-if="myForm.apellido2.$valid">
				<label for="email">Email: </label>
				<input type="email" id="field" name="email" class="form-control input-md" placeholder="Dirección de correo válida" ng-model="email" ng-model-options="{ updateOn: 'blur' }" required /><br/>
				<span ng-show="myForm.email.$error.email">Debe ser una dirección de email válida</span>
			</div><br />
			<div class="form-group" ng-class="{ 'has-error' : myForm.password.$invalid && !myForm.password.$pristine }" ng-if="myForm.email.$valid">
				<label for="password">Contraseña: </label>
				<input id="passAnime" type="password" name="password" ng-model="password" placeholder="Contraseña (mínimo 6 caracteres)"  class="form-control input-md" placeholder="Password" tabindex="5" ng-maxlength="25" ng-minlength="6"  required>

				<span ng-show="myForm.password.$dirty && myForm.password.$invalid">
					<p ng-show="myForm.password.$error.required" class="error-messages">
						Contraseña obligatoria.
					</p>
					<p ng-show="myForm.password.$error.minlength" class="error-messages">
						Tu contraseña es muy corta. Mínimo 6 caracteres
					</p>
					<p ng-show="myForm.password.$error.maxlength" class="error-messages">
						Tu contraseña es muy larga. Máximo 25 caracteres 
					</p>
				</span>
			</div>
			<div class="form-group"  ng-if="myForm.password.$valid">
				    <button data-ng-click="submit()" class="btn btn-default">Submit</button>

			</div>
		</form>

</body>
